<app-head></app-head>
<div class="index_wrap">
  <div class="order">
    <ul nz-menu nzMode="inline">
      <li nz-menu-group [nzTitle]="item.title" *ngFor="let item of menuData">
        <ul>
          <li nz-menu-item *ngFor="let itemIn of item.children">
            <a [routerLink]="[ itemIn.link ]" [routerLinkActive]="itemIn.activeClass">{{ itemIn.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="detail">
    <router-outlet></router-outlet>
  </div>
</div>
