<div class="index_wrap">
  <div class="order">
    <ul>
      <li>
        <a [routerLink]="[ '/index/classMg/index' ]" routerLinkActive="active">班级管理</a>
      </li>
      <li>
        <a [routerLink]="[ '/index/classMg/infoList' ]" routerLinkActive="active">信息列表</a>
      </li>
      <li>
        <a [routerLink]="[ '/index/classMg/releaseInfo' ]" routerLinkActive="active">发布信息</a>
      </li>
      <li>
        <a [routerLink]="[ '/index/classMg/addClass' ]" routerLinkActive="active">添加班级</a>
      </li>
    </ul>
    <ul>
      <li>
        <a [routerLink]="[ '/index/studentMg/index' ]" routerLinkActive="active">学生管理</a>
      </li>
      <li>
        <a [routerLink]="[ '/index/studentMg/addStudent' ]" routerLinkActive="active">添加学生</a>
      </li>
      <li>
        <a [routerLink]="[ '/index/studentMg/watchParent' ]" routerLinkActive="active">查看家长</a>
      </li>
    </ul>
    <ul>
      <li>
        <a [routerLink]="[ '/index/teacherMg/index' ]" routerLinkActive="active">老师管理</a>
      </li>
      <li>
        <a [routerLink]="[ '/index/teacherMg/addTeacher' ]" routerLinkActive="active">添加老师</a>
      </li>
    </ul>
  </div>
  <div class="detail">
    <router-outlet></router-outlet>
  </div>
</div>
