<div class="info_list_wrap">
  <div nz-row class="head">
    <div nz-col nzSpan="12" class="left_part">
      <nz-select [(ngModel)]="selectedValue" [nzShowSearch]="true" ngSize="large" nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of secData" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="12" class="right_part">
      <button nz-button nzType="primary">发布</button>
    </div>
  </div>
  <div class="table_wrap">
    <nz-table #testTable nzSize="small" [nzData]="testData" [nzShowPagination]="false">
      <thead>
        <tr>
          <th nzAlign="center">编号</th>
          <th>学校</th>
          <th>班级</th>
          <th>类别</th>
          <th>讲师</th>
          <th>助教</th>
          <th>创建日期</th>
          <th nzAlign="center">管理</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of testTable.data">
          <td nzAlign="center">{{ item.key }}</td>
          <td>{{ item.schoool }}</td>
          <td>{{ item.class }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.teacher }}</td>
          <td>{{ item.helper }}</td>
          <td>{{ item.create }}</td>
          <td nzAlign="center" nzRight="0px" class="action_wrap">
            <button nz-button nzType="primary" nzSize="small">删除</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="page_wrap">
    <nz-pagination [nzPageIndex]="pageInfo.current" [nzTotal]="pageInfo.total" [nzPageSize]="pageInfo.size" nzSize="small" nzShowQuickJumper></nz-pagination>
  </div>
</div>