<app-head></app-head>qqq
<div class="login_wrap">
  <nz-card class="crad_wrap">
    <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="userName">用户名</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="必填">
          <input id="userName" type="text" nz-input formControlName="userName" placeholder="请输入" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="password">密码</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="必填">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input id="password" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="请输入"
              formControlName="password" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="login_form_button_wrap">
        <nz-form-control>
          <button class="login_form_button" nz-button [nzType]="'primary'" [disabled]="!loginForm.valid">登录</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>