.add_teacher_wrap {
  .form_wrap {
    width: 20%;
    min-width: 450px;
    .add_teacher_form_button_wrap {
      .add_teacher_form_button {
        &:nth-child(1) {
          margin-right: 10%;
        }
        width: 45%;
      }
    }
  }
}
